<style type="text/css">
	#quiz{
		background: rgba(255, 255, 255, 1);
		margin-left: 0px;
		padding: 10px;
		border-bottom: 1px solid rgba(221, 221, 221, 1);
	}
	#quiz h3{
		font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 30px;
		font-weight: 300;
		word-spacing: -0.04em;
		margin-bottom: 10px;
		letter-spacing: -0.04em;
		line-height: 1em;

		background: rgba(185,210,222, 1);
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
   		-webkit-text-stroke-width: 1px;
   		-webkit-text-stroke-color: rgba(221, 221, 221, 0.5);
		padding-left: 15px;
	}
</style>

<div class="row" id="quiz">
	<div class="large-4 columns"><h3>Rayku Tutor Quiz</h3></div>
	
	<div class="large-12 columns quiz-main">
	</div>
</div>