<div class="large-12 columns" style="width:100%;">
	<h6>Cash Out Split<span><a href=#>Improve this!</a></span></h6>
</div>
<div class="large-12 columns" style="width:100%;">
	<section class="container">
    <input type="radio" class="radio" name="progress" value="five" id="five">
    <label for="five" class="label">5%</label>

    <input type="radio" class="radio" name="progress" value="twentyfive" id="twentyfive" checked>
    <label for="twentyfive" class="label">25%</label>

    <input type="radio" class="radio" name="progress" value="fifty" id="fifty">
    <label for="fifty" class="label">50%</label>

    <input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive">
    <label for="seventyfive" class="label">75%</label>

    <input type="radio" class="radio" name="progress" value="onehundred" id="onehundred">
    <label for="onehundred" class="label">100%</label>

    <div class="progress">
      <div class="progress-bar"></div>
    </div>
  </section>
</div>
<div class="large-6 columns" style="width: 50%;">
	<h6>Set Tutor Rate</h6>
	<input type="text" style="width: 20%; float:left;" id="trate" placeholder="40">
	<label id="tratelabel">RP/min</label>
</div>
<div class="large-6 columns edit-menu" style="width: 50%;">
	<ul style="list-style-type: none;">
		<li><a href=#>Edit Tutor Profile</a></li>
		<li><a href=#>Edit Job Notifications</a></li>
		<li><a href=#>Review Training Material</a></li>
	</ul>
</div>