<input type="hidden" value="" name="question" id="question" />
<ul class="tutorsList">
	<li ng-repeat="tutor in tutors | startFrom:currentPage*pageSize | limitTo:pageSize" ng-cloak ng-click="tutor.checked = !tutor.checked">
		<ul>
			<li class="tutorImage"><img ng-src="{{ tutor.user.web_path }}" style="width:50px;"></li>
			<li class="tutorNameAmount"><h4><span class="tutorName">{{tutor.user.first_name}} {{tutor.user.last_name}}</span></h4><p><span class="tutorBio">{{tutor.school_amount}} From {{tutor.school_name}}</span></p><p><span class="tutorBio">{{tutor.bio}}</span></p></li>
			<li class="tutorsRate"><p><span class="therate">{{tutor.rate}}</span>RP <span class="permn">per minute</span></p></li>
			<li class="tutorCheck"><input ng-click="tutor.checked = !tutor.checked" ng-model="tutor.checked" type="checkbox" class="tutor-check" name="potential_tutors[0][tutor]" value="{{tutor.id}}" data-tutor-id="{{tutor.id}}" data-tutor-name="{{tutor.user.first_name}} {{tutor.user.last_name}}"></li>
		</ul>
	</li>
</ul>
<button type="button"  ng-cloak ng-disabled="currentPage == 0" ng-click="prevPage()">
        Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button type="button" ng-cloak ng-disabled="currentPage >= tutors.length/pageSize - 1" ng-click="nextPage()">
    Next
</button>

<script type="text/javascript">
var session = null;

$(document).ready(function(){
	//Create a session
	$('#create_session').submit(function() {
		$('#loading-indicator').fadeIn('fast');
	});
    $('#create_session').ajaxForm(function(response) {
    	if(response.success == true){
    		session = response.redirect;
    		if(session !== null){
    			$('.backtoWhiteboard').css('display', 'block');
    			$('#whiteboard').src = session;
		        $('#whiteboard2 iframe').attr("src", session);
		        $('#loading-indicator').fadeOut('slow');
		        $('input[name="tutorConnect"]').addClass('disabled').attr("disabled", "disabled");
		        $('.container').animate({
		            display:'none'
		        });
		        $('body').css('overflow', 'hidden');
		        $('.main-header').fadeOut('fast');
		        $('#whiteboard2').fadeIn('slow');
    		}
    		else{
    			$('input[name="tutorConnect"]').removeAttr('disabled').removeClass('disabled');
    		}   
	    }
	    else{
	    	alert('There was an error starting your session');
	    }
    });
    if(session == null){
    	$('.backtoWhiteboard').css('display', 'none');
    }
    $('.backWhiteboard').on('click', function (){
    	//if a session already exists, load the iframe containing it
    	if(session !== null && $('#whiteboard2 iframe').attr("src") === session){
    		$('.main-header').fadeOut('fast');
			$('#whiteboard2').fadeIn('slow');
    	}
    });
});
</script>

<style type="text/css">
	ul.tutorsList, ul.tutorsList li > ul{
		list-style-type: none;
		padding: 0;
	}
	ul.tutorsList > li{
		background: rgba(255, 255, 255, 1);
		padding: 10px 0px;
		margin-bottom: 1px;
		border-bottom: 1px solid rgba(221, 221, 221, 1);
		transition: box-shadow 0.3s;
		-webkit-transition: box-shadow 0.3s;
	}
	ul.tutorsList > li:hover{
		background: rgba();
		box-shadow: 0 0 8px rgba(120, 120, 120, 0.5);
	}
	ul.tutorsList li > ul li{
		margin-top: 0;
		display: inline-block;
		padding:0 15px;
	}
	ul.tutorsList li > ul li img{
		width:50px;
		height: 50px;
		border: 1px solid rgba(221, 221, 221, 1);
		border-radius: 35px;
	}
	li.tutorImage{
		width:15%;
		position: relative;
		top:8px;
	}
	li.tutorNameAmount{
		width:55%;
	}
	li.tutorNameAmount span.tutorName{
		color:rgba(100, 100, 100, 1);
		font-weight: bold;
		font-size: 1em;
	}
	li.tutorNameAmount p{
		line-height: 15px;
	}
	li.tutorsRate{
		position: relative;
		top:-3px;
		width:15%;
	}
	li.tutorsRate p{
		line-height: 10px;
	}
	li.tutorsRate span.therate{
		color:rgba(59,179,97,1);
		font-size: 1.4em;
		font-weight: bold;
		margin-bottom: -5px;
	}
	li.tutorsRate span.permn{
		margin-top: -15px;
		font-size: 0.7em;
	}
	li.tutorCheck{
		position: relative;
		top:-11px;
		width:10%;
	}
	ul.tutorsList li > ul li h4{
		color: rgba(10, 10, 10, 1);
		font-size: 1.4em;
		font-weight: 500;
		margin-bottom: 0;
	}
	ul.tutorsList li > ul li span.tutorBio{
		font-size: 0.85em;
		font-weight: normal;
	}
</style>
<input value="Connect" type="submit" class="bbutton" id="tutorConnect" name="tutorConnect">