<input type="hidden" value="" name="question" id="question" />
<table class="tutorTable" id="tutorTable">
	<tbody>
		<tr class="tutorDetails" ng-repeat="tutor in tutors" ng-cloak>
		<td class="one"><img ng-src="{{ tutor.user.web_path }}" style="width:50px;"></td>
		<td class="two"><p><span class="tutorName">{{tutor.user.first_name}} {{tutor.user.last_name}}</span><br><span class="tutorBio">{{tutor.school_amount}} From {{tutor.school_name}}</span><br><span class="tutorRP">{{tutor.rate}} RP/Min</span></p></td>
		<td class="three"><input type="checkbox" class="tutor-check" name="potential_tutors[0][tutor]" value="{{tutor.id}}" data-tutor-id="{{tutor.id}}" data-tutor-name="{{tutor.user.first_name}} {{tutor.user.last_name}}"></td>
		</tr>
  	</tbody>
</table>
<input value="Connect" type="submit" class="bbutton" id="tutorConnect" name="tutorConnect">