<div class="large-12 columns" style="width:100%;">
	<h6 style="font-size: 12px; font-weight: normal;">Cash Out Split<span style="float:right;"><a href=#>Improve this!</a></span></h6>
</div>
<div class="large-12 columns" style="width:100%;">
	<div class="meter">
		<span style="width: 25%"></span>
	</div>
</div>
<div class="large-6 columns" style="width: 50%;">
	<h6 style="font-size: 12px; font-weight: normal;">Set Tutor Rate</h6>
	<input type="text" style="width: 50%; float:left;">
	<label>RP/min</label>
</div>
<div class="large-6 columns" style="width: 50%;">
	<ul style="list-style-type: none;">
		<li><a href=#>Edit Tutor Profile</a></li>
		<li><a href=#>Edit Job Notifications</a></li>
		<li><a href=#>Review Training Material</a></li>
	</ul>
</div>