# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/components/*
components/*
.DS_Store

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/var/*
.vagrant
composer.lock
bootstrap.sh
