[submodule "src/Rayku/PageBundle/Resources/public/js/jquery_form"]
	path = src/Rayku/PageBundle/Resources/public/js/jquery_form
	url = https://github.com/malsup/form.git
[submodule "src/Rayku/PageBundle/Resources/public/js/jquery_poll"]
	path = src/Rayku/PageBundle/Resources/public/js/jquery_poll
	url = https://github.com/jeremyw/jquery-smart-poll.git
