# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
.vagrant
composer.lock

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
