# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
src/Rayku/PageBundle/Resources/.DS_STORE
src/Rayku/PageBundle/Resources/public/.DS_STORE

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
.vagrant
composer.lock
