html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;background:#fff;color:#000;font:12px sans-serif;position:relative;}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{font-size:100%;vertical-align:baseline;background:transparent;color:#525252;margin:0;padding:0;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}del{text-decoration:line-through;color:#666;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}.left{float:left;}.right{float:right;}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;height:0;}.hide{display:none;}.block{display:block!important;}.inline{display:inline!important;}.align_right{text-align:right;}.align_left{text-align:left;}.align_center{text-align:center;}.align_justify{text-align:justify;}a:hover,a:focus{text-decoration:underline;}blockquote{font-family:Georgia,"Times New Roman", Times, serif;font-size:1.52em;color:#999;font-style:italic;line-height:1.3em;width:100%;quotes:none;margin:5px;padding:10px;}blockquote.left{border-right:1px dashed #ccc;width:35%;}blockquote.right{border-left:1px dashed #ccc;width:35%;}h1,h2,h3,h4,h5{line-height:1.1em;margin:0 0 .5em;}h1{font-size:2.52em;}h2{font-size:1.952em;}h3{font-size:1.652em;}h4{font-size:1.452em;}h5{font-size:1.252em;}h6{font-size:1.52em;}ul{list-style:outside disc;}ul,ol{margin:0 0 1.5em 1.5em;padding:0;}li ul,li ol{margin:0 0 1.5em 1.5em;padding:0;}p{margin:0 0 1.52em;}p img.left{float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}p img.right{float:right;margin:1.52em 0 1.52em 1.52em;}sup,sub{line-height:0;}abbr,acronym{border-bottom:1px dashed #ccc;}address{font-style:italic;margin:0 0 1.5em;}pre,code,tt{font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;display:block;}code{background-color:#eee;display:inline;line-height:1.1em;padding:0 2px 1px;}pre{white-space:pre;margin:1.5em 0;}.bold,strong,dfn{font-weight:600;}.italic,em,dfn{font-style:italic;}nav ul, nav ol, nav ul li, nav ol li {margin:0}.alignleft {display: inline;float: left;margin-right: 1.625em;}.alignright {display: inline;float: right;margin-left: 1.625em;}.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
html{
	min-height: 100%; 
   	height:auto !important; 
}
body {
	background: url(../images/bg.png);
	font-family: 'Open Sans',sans-serif;
	color: #8c8c8c;
	min-height: 100%; 
   	height:auto !important; 
}

/* Header */
header {
	background: url(../images/bg_header.jpg) repeat-x left bottom;
	height: 50px;
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.1),inset 0px -5px 5px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.1),inset 0px -5px 5px rgba(0,0,0,0.4);
	box-shadow:0px 1px 0px rgba(255,255,255,0.1),inset 0px -5px 5px rgba(0,0,0,0.4);
	z-index: 1000;
}

.home header {
	background: rgba(0,0,0,0.4);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.1),inset 0px -5px 5px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.1),inset 0px -5px 5px rgba(0,0,0,0.4);
	box-shadow:0px 1px 0px rgba(255,255,255,0.1),inset 0px -5px 5px rgba(0,0,0,0.4);
	z-index: 1000;
}

header #logo {
	display: block;
	float: left;
	margin: 6px 0 0 -3px;
}

header nav {
	float: right;
	margin: 17px -10px 0 0;
}

header nav a{
	padding:20px 5px;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}
header nav a.rayku-points{
	background: rgba(255, 255, 255, 0.9);
	height:30px;
	padding: 7px;
	border-radius: 3px;
	box-shadow: inset 0 0 5px rgba(10, 10, 10, 0.3);
}
header nav a.logged-in-as{
	margin-left: 7px;
}
header nav a.logged-in-as:hover{
	color:rgba(255, 255, 255, 1);
	text-decoration: none;
}
header nav a.rayku-points:hover{
	color:rgba(0, 0, 0, 1);
	text-decoration: none;
	text-shadow: 0px 0px 5px rgba(10, 10, 10, 0.3);
}
.inside {
	width: 960px;
	margin: 0 auto;
}

.inside.static {
	padding: 50px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
}
/*Header*/

/*Dashboard*/

/*Submenu*/
.submenu{
	position: absolute;
	width:135px;
	margin-left: 65px;
	display: none;
	z-index: 640;
}
.submenu-triangle { 
	position: absolute;
	top:0;
    width: 10;
    height: 10;
}

ul.submenu-item{
	position: relative;
	top:15px;
	background: rgba(10, 10, 10, 0.8);
	list-style-type: none;
	box-shadow: 0 0 8px rgba(10, 10, 10, 0.2);
	padding:0;
}

ul.submenu-item li{
	padding:7px 8px;
	margin:0;
}
ul.submenu-item li.divider{
	padding:0;
	margin: 0;
	border-bottom: 1px solid rgba(221, 221, 221, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 1);
}
ul.submenu-item li a{
	font-family:Arial;
	font-size: 13px;
	text-shadow:none;
	color:rgba(255, 255, 255, 1);
	padding:10px;
}
ul.submenu-item li a:hover {
	text-decoration: none;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.55);
	color: rgba(221, 221, 221, 0.7);
}
/*Submenu*/

/*Dashboard Content*/
.dashboard{
	padding:25px 0;
	width: 960px;
	min-height: 620px; 
   	height:auto !important; 
	margin: 0 auto;
}
.main-content{
	float: left;
	padding:0px 15px;
	min-height: 500px; 
   	height:auto !important; 
   	height: 500px; 
	width: 80%;
}
.tutor-list, .tutor-header, .ask, .sidebar{
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 10px rgba(10, 10, 10, 0.1);
	border-radius: 3px;
}
/*Dashboard Content*/

/*Sidebar*/
.sidebar{
	float: left;
	width:20%;
}
.tutor-button{
	border-bottom:1px solid rgba(221, 221, 221, 1);
	padding:10px 0px;
}
#x{
	height:50px;
}
/*Sidebar*/

/*Ask Form*/
.question-container{
	display: none;
}
.input-container{
	background: rgba(255, 255, 255, 1);
	height: 46px;
	padding:10px 10px;
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.3);
	border:1px solid rgba(200, 200, 200, 0.5);
}
.ask, .tutor-list{
	padding:10px 0;
}
.ask{
	padding:15px 10px;
	padding-bottom: 0;
}
.ask form input[name="ask"]{
	width:82.5%;
	padding:0;
	background: transparent;
	border: none;
	box-shadow: none;
}
.ask form input[name="aSubmit"]{
	float: right;
	margin-top:-41px;
	margin-right: 5px;
}
.abutton{
	display: block;
	-webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
	-moz-box-sizing: border-box; /* Firefox 1+ */
	box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
	text-shadow: 0px 1px 1px #184500;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	height: 36px;
	cursor: pointer;
	padding: 0 14px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #000;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 2px 1px rgba(255,255,255,.25), inset 0 0 3px rgba(255,255,255,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 2px 1px rgba(255,255,255,.25), inset 0 0 3px rgba(255,255,255,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 2px 1px rgba(255,255,255,.25), inset 0 0 3px rgba(255,255,255,.4);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3N2YwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FiYzkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #477f00 0%, #abc900 100%);
	background-image: -o-linear-gradient(bottom, #477f00 0%, #abc900 100%);
	background-image: -webkit-linear-gradient(bottom, #477f00 0%, #abc900 100%);
	background-image: linear-gradient(bottom, #477f00 0%, #abc900 100%);
}
.help-header h4{
	padding: 3px;
}
/*Ask Form*/

/*Tutor List*/
.tutor-list, .tutor-header{
	margin: 10px 0;
	padding:15px 0px;
	padding-bottom: 0;
	display: none;
}
.tutor-header p.user-question{
	text-align: center;
}
.tutor-list{
	padding-top: 15px;
}
.tutor-list table{
	margin-bottom: 15px;
}
.short-bio{
	text-align: center;
}
.tutor-list table thead th{
	font-size: 14px;
}
.tutor-list table td{
	font-size: 12px;
}
.tutor-list table tr{
	padding: 10px 0;
}
.tutor-list form input[name="connectButton"]{
	margin:15px auto;
}
/*Tutor List*/

/*Tutor Profile Modal*/
#myTutorModal .describes{
	margin-top:15px; 
}
#myTutorModal form input[name="tutorStatusButton"]{
	margin:5px auto;
}
#myTutorModal .listing-preview p{
	line-height: 15px;
}
#myTutorModal p.preview{
	text-decoration: underline;
}
#myTutorModal p.preview:hover{
	cursor: pointer;
}
/*Tutor Profile Modal*/

/*Footer*/
footer.footer {
	border-top: 1px solid #c0cdd5;
	-moz-box-shadow: inset 0 1px 3px rgba(4,4,4,.1);
	-webkit-box-shadow: inset 0 1px 3px rgba(4,4,4,.1);
	box-shadow: inset 0 1px 3px rgba(4,4,4,.1);
	background: #f9f9f9;
	padding: 38px 0;
}

footer.footer .copy {
	height: 38px;
	background: url(../images/logo_footer.png) no-repeat left top;
	padding: 0 0 0 75px;
	line-height: 45px;
	font-size: 11px;
	margin: 0;
}

footer.footer nav {
	margin: 0 -10px 0 0;
	padding: 14px 0 0 0;
}

footer.footer nav a {
	text-decoration: none;
	color: #8c8c8c;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	padding: 0 10px;
	display: inline-block;
}

footer.footer:after {
	content: '#0111001001100001011110010110101101110101';
	text-align: center;
	display: block;
	color: #ededed;
	font-size: 8px;
	padding: 30px 0 0 0;
}
/*Footer*/