<div id="buyPointsModal" class="reveal-modal medium">
	<div class="row registration-header">
		<h2>Buy Rayku Points</h2>
	</div>
	<div class="row registration-body">
        <form class="buy-rayku-points custom" name="buy_rayku_points" action="/paypal.php" method="post">
            <select id="customDropdown1" class="large" name="amount">
                <option DISABLED>Points</option>
                <option value="5">500 Points for $5</option>
                <option value="10">1000 Points for $10</option>
                <option value="25">2500 Points for $25</option>
                <option value="50">5000 Points for $50</option>
                <option value="100">10000 Points for $100</option>
            </select>
        	<input type="hidden" name="loginid" value="{{ user.id }}" />
            <input type="submit" class="bbutton" value="Buy">
        </form>
	</div>
	<a class="close-reveal-modal">×</a>
</div>
