<div id="buyPointsModal" class="reveal-modal medium">
	<div class="row registration-header">
		<h2>Buy Rayku Points</h2>
	</div>
	<div class="row registration-body">
        <form>
            <select id="customDropdown1" class="large" name="amount">
                <option DISABLED>Points</option>
                <option value="5">500 Points for $5</option>
                <option value="10">1000 Points for $10</option>
                <option value="25">2500 Points for $25</option>
                <option value="50">5000 Points for $50</option>
                <option value="100">10000 Points for $100</option>
            </select><br />
            Enable Auto-recharge <input type="checkbox" /><br />
            Auto-recharge saves you time and hassle. We'll simply credit your account with amount selected when your balance falls below 500 Rayku Points (RP).<br />
            <input type="submit" class="bbutton" value="Buy">
        </form>
	</div>
	<a class="close-reveal-modal">×</a>
</div>
