{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="inside static" id="become-a-tutor">
	{% include 'RaykuPageBundle:Page:tutor_registration_modal.html.twig' with {'form': registrationform} %}
	<hgroup>
		<h2>Teach Online, Get Paid!</h2>
		<h3>Teach students online with our platform on your own schedule and at your own rates.</h3>
	</hgroup>
	<div class="content">
		<iframe src="http://fast.wistia.net/embed/iframe/hgu3pzo7gd?playButton=false&plugin%5BpostRoll-v1%5D%5Blink%5D=http%3A%2F%2Fwww.rayku.com%2Fregister&plugin%5BpostRoll-v1%5D%5Brewatch%5D=true&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BbackgroundColor%5D=%23263542&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5Bcolor%5D=%23ffe7c2&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontFamily%5D=Gill%20Sans%2C%20Helvetica%2C%20Arial%2C%20sans-serif&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontSize%5D=36px&plugin%5BpostRoll-v1%5D%5Btext%5D=Register%20for%20free%3Cbr%2F%3Eand%20get%20started%20today&version=v1&videoHeight=275&videoWidth=489&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="489" height="275" id="video"></iframe>
	<div class="feature-list">
		<div class="feature">
			<h4>Shared live whiteboard</h4>
			<p>Sessions are carried out through a live shared whiteboard, where students can interact with video, audio, and a full suite of whiteboard tools.</p>
		</div>
		<div class="feature">
			<h4>Flexible schedules</h4>
			<p>100% flexible tutoring schedules. Set your status to 'online' whenever you are not doing anything else to start receiving paid tutoring requests. <br><br></p>
		</div>
		<div class="feature">
			<h4>Set your own rates</h4>
			<p>Charge by-the-minute rates of your choice.</p>
		</div>
		<div class="feature">
			<h4>We advertise for you</h4>
			<p>Our job is to find highly engaged clients for you to tutor.</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	</div>
</div>

<div id="signup">
	<div class="inside">
		<hgroup>
			<h2>Start tutoring on Rayku today</h2>
			<h3>Registration is free and takes approximately 15 minutes:</h3>
		</hgroup>
		<p>
			<a href="#" data-reveal-id="regModal" class="signup">Get Started</a>
		</p>
	</div>
</div>
{% endblock %}