{% extends "::base.html.twig" %}

{% block content %}
<div class="inside static" id="become-a-tutor">
	<hgroup>
		<h2>Tutor Math Online, Get Paid!</h2>
		<h3>Rayku lets you teach math students online. Start today, and charge by-the-minute rates of your choice (recommended $0.40/min. or $24/hour).</h3>
	</hgroup>
	<div class="feature-list">
		<div class="feature">
			<h4>Shared live whiteboard</h4>
			<p>Sessions are carried out through a live shared whiteboard, where students can interact with video, audio, and math equation writer tools.</p>
		</div>
		<div class="feature">
			<h4>Request notifications</h4>
			<p>Instant chat / desktop tutoring request notifications. With passive notifications, you can log in and tutor at your own self-determined schedule.</p>
		</div>
		<div class="feature">
			<h4>Flexible schedules</h4>
			<p>100% flexible tutoring schedules. Tutor when you want, wherever you want! <br><br></p>
		</div>
		<div class="feature">
			<h4>Set your own rates</h4>
			<p>Start today, and charge by-the-minute rates of your choice. Your first few sessions will be capped at $0/minute to build up some experience.</p>
		</div>
		<div class="feature">
			<h4>Full billing system</h4>
			<p>Rayku Points (RP) is the currency we use. 1RP currently equals $1. Full billing system to deliver payments directly to your paypal or bank account.</p>
		</div>
		<div class="feature">
			<h4>Walkthrough video</h4>
			<p>Tutoring on Rayku is easy! Watch the videos thoroughly, and read the descriptions below each video, to get a full understanding of how to get started as a Rayku tutor.</p>
		</div>
		<div class="feature">
			<h4>Getting clients is easy</h4>
			<p>You don’t need to bother getting clients. Getting clients is super easy! We pay for advertising and everything to get you great clients. That's our job!</p>
		</div>
		<div class="feature">
			<h4>Earn money</h4>
			<p>Get paid an average of 75% per session (average $18/hour) after fees. Dependent on the quality of the tutoring session. The higher the quality, the more you earn.</p>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="signup">
	<div class="inside">
		<hgroup>
			<h2>Start tutoring on Rayku today</h2>
			<h3>Create a free tutor account to get started:</h3>
		</hgroup>
		<p>
			<a href="{{ path('fos_user_registration_register') }}" class="signup">Get Started</a>
		</p>
	</div>
</div>
{% endblock %}