{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="dashboard">
    <!--Sidebar-->
		<div class="large-3 columns sidebar">
    		<div class="row tutor-sidebar">
                <div class="small-6 columns">
                  Tutor
                </div>
    		    <div class="small-6 columns">
                    <div class="switch small">
                        <input id="tutorOff" name="switch-x" type="radio" checked>
                        <label for="x" onclick="">Off</label>
                        <input id="tutoroOn" name="switch-x" type="radio">
                        <label for="x1" onclick="">On</label>
                        <span></span>
                    </div>
    		    </div>
    		</div>

            <div class="row tutor-selected">
                <div class="small-12 columns">
                    <h5>Selected Tutors</h5>
                </div>
                <div class="small-12 columns">
                    <ol>
                        <li>Nick Agopoulos</li>
                        <li>Flint Ago</li>
                        <li>Naef Poulos</li>
                    </ol>
                </div>
            </div>
		</div>
    <!--End Sidebar-->

    <!--Main Content-->
		<div class="large-9 columns main-content">
      <!--Ask Form-->
      <div class="row ask">
        <div class="large-12 columns">
          <form class="custom">
            <div class="row">
              <div class="large-4 columns large-centered help-header">
                <h5>What do you need help with?</h5>
              </div>
              <div class="large-4 columns category">
                <select id="categorySelect" class="medium" name="category">
                  <option>Choose Category</option>
                  <option value="General Math">General Math</option>
                  <option value="Pre-Algebra">Pre-Algebra</option>
                  <option value="Geometry">Geometry</option>
                  <option value="Algebra">Algebra</option>
                  <option value="Trigonometry">Trigonometry</option>
                  <option value="Calculus">Calculus</option>
                  <option value="Statistics">Statistics & Probability</option>
                  <option value="Advanced Math">Advanced Math</option>
                </select>
              </div>

              <div class="large-4 columns school">
                <select id="schoolSelect" class="medium" name="school">
                  <option>Choose School</option>
                  <option value="1">High School</option>
                  <option value="2">University</option>
                </select>
              </div>

              <div class="large-4 columns ">
                <select id="level" class="medium" name="level">
                    <option value="Choose">Choose Level</option>
    
                </select>
              </div>

              <div class="large-12 columns question-container">
                <div class="input-container">
                  <input type="text" placeholder="" name="ask">
                </div>
                <input type="submit" class="abutton" value="Ask" name="aSubmit">
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--End Ask Form-->

    <!--Tutor List-->
    <div class="row tutor-header">
      <div class="large-6 large-centered columns">
        <h4>Tutors that can help with your question</h4>
        <p class="user-question"></p>
      </div>
    </div>

    <div class="row tutor-list">
      <form>
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th width="130px">Name</th>
              <th width="470px" class="short-bio">Short Bio</th>
              <th>Rate/Min</th>
              <th>Connect</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href=#>Nick Agopoulos</a></td>
              <td>Under Graduate Degree Holder From Ryerson University, Economics.</td>
              <td>20.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href=#>Flint Ago</a></td>
              <td>Under Graduate Degree Holder From Wilfrid Laurier University, Mathematics</td>
              <td>35.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href=#>Naef Poulos</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>14.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href=#>Adam Opoulos</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>20.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href=#>Clint Gomez</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>35.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href=#>Neal Poul</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>14.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href=#>Nick Agopoulos</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>20.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>8</td>
              <td><a href=#>Flint Ago</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>35.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>9</td>
              <td><a href=#>Naef Poulos</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>14.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>10</td>
              <td><a href=#>Adam Opoulos</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>20.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>11</td>
              <td><a href=#>Clint Gomez</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>35.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>12</td>
              <td><a href=#>Neal Poul</a></td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>14.00RP</td>
              <td><input type="checkbox"></td>
            </tr>
          </tbody>
        </table>
        <input type="submit" class="abutton" value="Connect" name="connectButton">
      </form>
    </div>
  </div>
  <!--End Tutor List-->
</div>


  {% render url('rayku_tutor_new') %}
</div>
{% endblock %}