{% extends "::angular_base.html.twig" %}

{% block content %}
	
	<div class="row content-header">
		<div class="slide-out">
			<div class="arrow-right">
			</div>
		</div>
		<h3><span class="raphael">S</span>Dashboard</h3>
		
	</div>
	<div class="row" id="content">
		<input type="text" placeholder="What is your question?">
		<!--
		<form class="custom" id="categories">
		<div class="large-3 columns school">
	        
	        <select id="schoolSelect" class="medium" name="school">
	          <option>Choose Institution</option>
	          <option value="high school" name="selectlevel">High School</option>
	          <option value="university" name="selectlevel">University</option>
	        </select>
	        
	      </div>
	
	      <div class="large-3 columns institution" id="placeholder">
	        
	        <select id="instSelect" class="medium" disabled>
	            <option value="Choose" name="choose" id="choose">Select An Institution</option>
	        </select>
	        
	      </div>
	
	      <div class="large-3 columns institution" id="highschool">
	        <!--
	        <select name="highschool" class="medium" disabled>
	            <option value="Choose" name="choose" id="choose">Choose Grade</option>
	            <option value="grade 1">Grade 1</option>
	            <option value="grade 2">Grade 2</option>
	            <option value="grade 3">Grade 3</option>
	            <option value="grade 4">Grade 4</option>
	            <option value="grade 5">Grade 5</option>
	            <option value="grade 6">Grade 6</option>
	            <option value="grade 7">Grade 7</option>
	            <option value="grade 8">Grade 8</option>
	            <option value="grade 9">Grade 9</option>
	            <option value="grade 10">Grade 10</option>
	            <option value="grade 11">Grade 11</option>
	            <option value="grade 12">Grade 12</option>
	        </select>
	        
	      </div>
	      <div class="large-3 columns institution" id="university">
	       
	        <select name="university" class="medium" disabled>
	            <option value="Choose" name="choose" id="choose">Choose Year</option>
	            <option value="year 1">Year 1</option>
	            <option value="year 2">Year 2</option>
	            <option value="year 3">Year 3</option>
	            <option value="year 4">Year 4</option>
	            <option value="year 5">Year 5</option>
	        </select>
	        
	      </div>
	
	      <div class="large-3 columns category">
	        
	        <select id="categorySelect" class="medium" name="category">
	          <option>Choose Category</option>
	          <option value="General Math">General Math</option>
	          <option value="Pre-Algebra">Pre-Algebra</option>
	          <option value="Geometry">Geometry</option>
	          <option value="Algebra">Algebra</option>
	          <option value="Trigonometry">Trigonometry</option>
	          <option value="Calculus">Calculus</option>
	          <option value="Statistics">Statistics & Probability</option>
	          <option value="Advanced Math">Advanced Math</option>
	        </select>
	       
	      </div>
		</form>
		-->
	<!------------------------------
	TUTOR LIST TABLE
	-------------------------------->
		<div id="tutorList" class="large-8 columns tutor-list" ng-controller="TutorListCtrl">
			<h3>Online Tutors<a href="#" class="raphael refreshTutors" ng-click="refreshTutors()">0</a></h3>
			<form action="{{path('post_session')}}" method="post" class="custom" id="create_session">
			<div ng-include="TutorListTemplate"></div>
			</form>
		</div>
	
		<div class="large-2 columns tutor-points">
			<div ="pcontainer">
				<h3><span class="raphael">#</span><span class="title">Rayku Points</span></h3>
				<h4>{{user.points}}</h4>
			</div>
		</div>
		<div class="large-2 columns tutor-rating" ng-show="user.is_tutor" ng-cloak>
			<div class="rcontainer">
				<h3><span class="raphael">$</span><span class="title">Tutor Rating<span></h3>
				<h4>1000</h4>
			</div>
		</div>
	
	<!------------------------------
	PAST SESSIONS LIST
	---------------------------------->
		<div class="large-4 columns" id ="sessions-list" ng-controller="SessionListCtrl">
			<h3>Sessions<a href=# class="raphael refreshSession" ng-click="refreshSessions()">0</a></h3>
			<div ng-include="SessionListTemplate"></div>
		</div>
	</div>
{% endblock %}