{% extends "::base.html.twig" %}

{% block content %}
<div class="container dashboard">
	<div class="row">
  		<div class="large-12 columns">Dashboard goes here</div>
  		<div class="large-12 columns">And here</div>
	</div>
</div>
{% endblock %}