{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="dashboard large-3 columns">
<h1>Terms of Service</h1>
  This Statement of Rights &amp; Responsabilities governs our relationship with users and visitors who interact with Rayku.com.  By using or accessing Rayku.com, you automatically agree to this Statement.<strong> </strong></p>
<h2>Sharing Your Content  and Information</h2>
  <br />
  You own all of the content and information you post on Rayku.com. In addition:</p>
<ol>
  <li>For content that is  covered by intellectual property rights, like photos and videos (&quot;IP  content&quot;), you specifically give us the following permission: you grant us  a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license  to use any IP content that you post on or in connection with Rayku.com (&quot;IP  License&quot;). This IP License ends when you delete your IP content or your  account unless your content has been shared with others, and they have not  deleted it. </li>
  <li>When you delete IP  content, it is deleted in a manner similar to emptying the recycle bin on a  computer. However, you understand that removed content may persist in backup  copies for a reasonable period of time (but will not be available to others).</li>
  <li>We always appreciate  your feedback or other suggestions about Rayku.com, but you understand that we  may use them without any obligation to compensate you for them (just as you  have no obligation to offer them).</li>
  <li>Rayku.com should not  be used as a substitute for missing class or studying. Rayku.com does not  condone to cheating. Consider the policies under your university or college  when using Rayku.com.</li>
</ol>
<h2>Safety</h2>
  <br />
  We do our best to keep Rayku.com a safe place. In order to ensure this, we  require your contributions which include the following commitments:</p>
<ol>
  <li>You will not collect  users' content or information, or otherwise access Rayku.com, using automated  means (such as harvesting bots, robots, spiders, or scrapers) without our  permission.</li>
  <li>You will not engage in  unlawful multi-level marketing, such as a pyramid scheme, on Rayku.com.</li>
  <li>You will not do  anything that could disable, overburden, or impair the proper working of Rayku.com,  such as a denial of service attack.</li>
  <li>You will not send or  otherwise post unauthorized commercial communications (such as spam) on Rayku.com. </li>
  <li>You will not upload  viruses or other malicious code.</li>
  <li>You will not solicit  login information or access an account belonging to someone else.</li>
  <li>You will not bully,  intimidate, or harass any user.</li>
  <li>You will not post  content that: is hateful, threatening, or pornographic; incites violence; or  contains nudity or graphic or gratuitous violence.</li>
  <li>You will not develop  or operate a third-party application containing alcohol-related or other mature  content (including advertisements) without appropriate age-based restrictions.</li>
  <li>You will not offer any contest, giveaway, or  sweepstakes (&quot;promotion&quot;) on Rayku.com without our prior written  consent.</li>
  <li>You will not use Rayku.com to do anything  unlawful, misleading, malicious, or discriminatory.</li>
  <li>You will not facilitate or encourage any  violations of this Statement.</li>
</ol>
<h2>Registration and Account  Security</h2>
  <br />
  Rayku.com users may provide their real names and information, and we need your  help to keep it secure. Here are some commitments you make to us relating to  registering and maintaining the security of your account:</p>
<ol>
  <li>You will not provide  any false personal information on Rayku.com, or create an account for anyone  other than yourself without permission. </li>
  <li>You will not create  more than one personal profile.</li>
  <li>If we disable your  account, you will not create another one without our permission.</li>
  <li>You will not use your  personal profile for your own commercial gain (such as selling your status  update to an advertiser).</li>
  <li>You will not use Rayku.com  if you are under 13.</li>
  <li>You will not use Rayku.com  if you are a convicted sex offender.</li>
  <li>You will keep your  contact information accurate and up-to-date.</li>
  <li>You will not share  your password, (or in the case of developers, your secret key), let anyone else  access your account, or do anything else that might jeopardize the security of  your account.</li>
  <li>You will not transfer  your account (including any page or application you administer) to anyone  without first getting our written permission.</li>
  <li>If you select a username for your account we  reserve the right to remove or reclaim it if we believe appropriate (such as  when a trademark owner complains about a username that does not closely relate  to a user's actual name).</li>
</ol>
<h2>Protecting Other  People's Rights</h2>
  <br />
  We respect other people's rights, and expect you to do the same.</p>
<ol>
  <li>You will not post  content or take any action on Rayku.com that infringes or violates someone  else's rights or otherwise violates the law. </li>
  <li>We can remove any  content or information you post on Rayku.com if we believe that it violates  this Statement.</li>
  <li>We will provide you  with tools to help you protect your intellectual property rights.</li>
  <li>If we remove your  content for infringing someone else's copyright, and you believe we removed it  by mistake, we will provide you with an opportunity to appeal.</li>
  <li>If you repeatedly  infringe other people's intellectual property rights, we will disable your  account when appropriate.</li>
  <li>You will not use our  trademarks (including Rayku.com and the Rayku.com Logos) or any confusingly  similar marks, without our written permission.</li>
  <li>If you collect  information from users, you will: obtain their consent, make it clear you (and  not Rayku.com) are the one collecting their information, and post a privacy  policy explaining what information you collect and how you will use it.</li>
  <li>You will not post  anyone's identification documents or sensitive financial information on Rayku.com.</li>
</ol>
<h2>Disputes</h2>
<ol>
  <li>You will resolve any  claim, cause of action or dispute (&quot;claim&quot;) you have with us arising  out of or relating to this Statement or Rayku.com exclusively in a provincial or  federal court located in Ontario, Canada. The laws of Ontario will govern this  Statement, as well as any claim that might arise between you and us, without  regard to conflict of law provisions. You agree to submit to the personal  jurisdiction of the courts located in Ontario, Canada for the purpose of  litigating all such claims. </li>
  <li>If anyone brings a  claim against us related to your actions, content or information on Rakyu, you  will indemnify and hold us harmless from and against all damages, losses, and  expenses of any kind (including reasonable legal fees and costs) related to  such claim.</li>
  <li>WE TRY TO KEEP RAYKU.COM  UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING RAKYU  &quot;AS IS&quot; WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT  LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR  PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT RAYKU.COM WILL BE SAFE  OR SECURE. RAYKU.COM IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION,  OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS,  EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING  OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD  PARTIES. WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER  CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN  CONNECTION WITH THIS STATEMENT OR RAYKU.COM, EVEN IF WE HAVE BEEN ADVISED OF  THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY ARISING OUT OF THIS  STATEMENT OR RAYKU.COM WILL NOT EXCEED THE GREATER OF ONE HUNDRED DOLLARS  ($100). APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY  OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION  MAY NOT APPLY TO YOU. IN SUCH CASES, RAYKU.COM'S LIABILITY WILL BE LIMITED TO  THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</li>
</ol>
<h2>Terms of Service Statement Revisions</h2>
  Rayku.com reserves the right to change this  policy. Users can check here to see if a policy has been revised. If our policy  materially changes, the information we currently have in our files will be  subject to the modified policy. Changes in our policy will be posted on this  page. If you have any questions about this policy, please contact&nbsp;<u>admin@rayku.com</u></p>
<p><em>Updated February 13th, 2011</em></p>
</div>
{% endblock %}