{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div id="main-content">
	onboarding page
</div>
{% endblock %}
