@CHARSET "UTF-8";

.modal-header{
	position: absolute;
	left:0;
	top:0;
	height: 60px;
	background: rgba(221, 221, 221, 0.5);
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}
.modal-header h2{
	font-weight: 500;
	margin-top: 18px;
	color: #1a6aaf;
}
.modal-body{
	padding-top:50px;
}

form.registration-form label{
	font-size: 13px;
	margin-bottom: 5px; 
}
form.registration-form input{
	padding: 10px;
	height: 40px;
	border-radius: 3px;
}
form.registration-footer input[type="submit"]{
	position: relative;
	left:-35px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#main-content{
	padding: 50px 0 0 0;
}

div.custom.dropdown a.current{
	height: 26px;
}