<div class="row content-header">
	<h3><span class="raphael">S</span>{{ course.name }}</h3> 
</div>
<div class="row" id="content" ng-controller="CourseViewCtrl">
	<div id="courseView" class="large-8 columns course-view">
		<h3>About</h3>
		<div style="padding:10px">{{ course.description }}</div>
	</div>
	<div class="large-4 columns course-view" id="session-list">
		<h3>Sessions</h3>
		<div><table>
			<tbody>
				<tr ng-repeat="session in course.sessions">
					<td>
						{{ session.tutor_session_name}} <a href="/room/{{ session.id }}/playback">RECORDED</a>
					</td>
				</tr>
			</tbody>
		</table></div>
	</div>
</div>