<div class="row content-header">
	<h3><span class="raphael">S</span>{{ course.name }}</h3> 
</div>
<div class="row" id="content" ng-controller="CourseViewCtrl">
	<div id="courseView" class="large-8 columns course-view">
		<h3>About</h3>
		<div style="padding:10px">{{ course.description }}</div>
		<span ng-show="user.id == course.instructor.id" ng-cloak>
			<form action="{{ path('post_session_broadcast', {'course':course.id}) }}" method="post" id="broadcast_session">
				<input value="New Broadcast" type="submit" class="bbutton" id="tutorConnect" name="tutorConnect">
			</form>
			<script type="text/javascript">
				$(document).ready(function(){
					var options = { 
						success: function(response){
							window.location.replace(response.redirect);
						}
					};
					$('#broadcast_session').ajaxForm(options)
				});
			</script>
		</span>
	</div>
	<div class="large-4 columns course-view" id="session-list">
		<h3>Sessions</h3>
		<div><table>
			<tbody>
				<tr ng-repeat="session in course.sessions">
					<td>
						<span ng-show="session.duration > 0">
							{{ session.tutor_session_name}} <a href="{{whiteboardUrl}}/room/{{ session.id }}/playback">RECORDED</a>
						</span>
						<span ng-show="session.duration == 0">
							{{ session.tutor_session_name}} <a href="{{whiteboardUrl}}/room/{{ session.id }}/broadcast">SESSION IN PROGRESS</a>
						</span>
					</td>
				</tr>
			</tbody>
		</table></div>
	</div>
</div>