<div class="row content-header">
	<h3><span class="raphael">S</span><span class="text">Dashboard</span></h3>
</div>
<div class="row userprofile" id="userprofile">
	<div class="large-12 columns" id="profile">
		<div class="row">
			<div class="large-3 columns sidenav" ng-controller="UserDetailCtrl">
				<h3>Account</h3>
				<ul class="profilenav">
					<li><a href="{{ path('angular_profile') }}" class="myprofile">Profile</a></li>
					<li><a href="{{ path('angular_payout') }}" class="payout">Payout</a></li>
					<li><a href="{{ path('angular_settings') }}" class="mysettings">Settings</a></li>
					<li><a href="#" class="mypoints">Billing</a></li>
				</ul>
			</div>

			<div class="large-9 columns tutorpayout">
				<h5>How much are tutors paid?</h5>
				<p>Tutors set their own rates in cents/minute. Rayku takes a varied platform fee depending on you number of sessions and the quality of them. The higher the quality, the less our platform fee is. There is also a small PayPal fee.</p>
				<h5>How often are tutors paid?</h5>
				<p>Tutors are paid after they accumulate 5000 Rayku Points ($50). You should receive your money within a week via PayPal.</p>
				<h5>How are tutors paid?</h5>
				<p>Our tutors require a PayPal account.</p>
				<p><a href="https://docs.google.com/forms/d/1CUGxAuvhBtGwtVpWqaL2V52f93BBn1GVPdl4DPXzidI/viewform" target="_blank">Cash Out Form</a></p>
			</div>

			<!--<div class="large-9 columns editprofileinfo">
					<p>Time to cash out from those hard hours of tutoring. Fill out the following form to select your method of payment.</p>

					<p><strong>Please Note</strong>: Rayku will be creating an invoice for you for each requested payment and said invoice will be sent to you via your rayku email after a successful payment is made. Payments require 3 to 5 days to process.</p>
					<form ng-upload="bar" action="{{ path('post_users', {'user':user.id}) }}">

					<ul class="userinfo">
						<li><span class="fname">First Name*</span><span class="editfname"><input type="text" ng-model="user.first_name" name="first_name"></span></li>

						<li><span class="lname">Last Name*</span><span class="editlname"><input type="text" ng-model="user.last_name" name="last_name"></span></li>

						<li><span class="degree">Email*</span><span class="editdegree"><input type="text" ng-model="user.email" name="degree"></span></li>

						<li><span class="grade">Amount of Rayku Points to be cashed out*</span><span class="editgrade"><input type="text" name="grade"></span></li>

						<li><span class="school">Date of Birth*</span><span class="editschool"><input type="text" name="school"></span></li>

						<li><span class="school">Preferred Payment Method*</span><span class="editschool">
						<label>Paypal</label>
						<input type="radio" name="school">
						<label>Cheque in the mail</label>
						<input type="radio" name="school">
						</span></li>

						<li><span class="school">Paypal Email Address*</span><span class="editschool"><input type="text" name="school"></span></li>

						<li><span class="school">Address 1</span><span class="editschool"><input type="text" name="school"></span></li>

						<li><span class="school">Address 2</span><span class="editschool"><input type="text" name="school"></span></li>

						<li><span class="school">Country</span><span class="editschool"><input type="text" name="school"></span></li>

						<li><span class="school">Province/State</span><span class="editschool"><input type="text" name="school"></span></li>

						<li><span class="school">Postal Code/Zip Code</span><span class="editschool"><input type="text" name="school"></span></li>
					</ul>
				
					<div class="row">
							<input type="submit" value="Submit" id="saveChanges" class="bbutton" />
					</div>
					</form>
				</div>-->
		</div>
	</div>
</div>

<!--<div class="row content-header">
	<h3><span class="raphael">`</span> Cashout</h3>
</div>

<div class="row userprofile" id="userprofile">
	<div class="large-12 columns" id="profile">
		<div class="row" ng-controller="UserDetailCtrl">
			<div class="large-3 columns sidenav">

				<h3>Account</h3>
				<ul class="profilenav">
					<li><a href="{{ path('angular_profile') }}" class="myprofile">Profile</a></li>
					<li><a href="{{ path('angular_payout') }}" class="payout">Payout</a></li>
					<li><a href="{{ path('angular_settings') }}" class="mysettings">Settings</a></li>
					<li><a href="{{ path('angular_settings') }}" class="mysettings">Cashout</a></li>
				</ul>
			</div>

			<div ng-controller="UserDetailCtrl">
				<div class="large-9 columns editprofileinfo">
					<form ng-upload="bar" action="{{ path('post_users', {'user':user.id}) }}">

					<ul class="userinfo">
						<li><span class="fname">First Name*</span><span class="editfname"><input type="text" ng-model="user.first_name" name="first_name"></span></li>

						<li><span class="lname">Last Name*</span><span class="editlname"><input type="text" ng-model="user.last_name" name="last_name"></span></li>

						<li><span class="degree">Email*</span><span class="editdegree"><input type="text" ng-model="user.degree" name="degree"></span></li>

						<li><span class="grade">Amount of Rayku Points to be cashed out*</span><span class="editgrade"><input type="text" ng-model="user.grade" name="grade"></span></li>

						<li><span class="school">Date of Birth*</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>

						<li><span class="school">Preferred Payment Method*</span><span class="editschool">
						<label>Paypal</label>
						<input type="radio" ng-model="user.school" name="school">
						<label>Cheque in the mail</label>
						<input type="radio" ng-model="user.school" name="school">
						</span></li>

						<li><span class="school">Paypal Email Address*</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>

						<li><span class="school">Address 1</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>

						<li><span class="school">Address 2</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>

						<li><span class="school">Country</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>

						<li><span class="school">Province/State</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>

						<li><span class="school">Postal Code/Zip Code</span><span class="editschool"><input type="text" ng-model="user.school" name="school"></span></li>
					</ul>
				
					<div class="row">
							<input type="submit" value="Submit" id="saveChanges" class="bbutton" />
					</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>-->