<div class="row content-header">
	<h3><span class="raphael">S</span><span class="text">Dashboard</span></h3>
</div>

<div class="row userprofile" id="userprofile">
	<div class="large-12 columns" id="profile">
		<div class="row" ng-controller="UserDetailCtrl">
			<div class="large-3 columns sidenav">
				<!--<img ng-src="{{ user.web_path }}" style="height:150px;">-->
				<h3>Account</h3>
				<ul class="profilenav">
					<li><a href="{{ path('angular_profile') }}" class="myprofile">Profile</a></li>
					<li><a href="{{ path('angular_payout') }}" class="payout">Payout</a></li>
					<li><a href="{{ path('angular_settings') }}" class="mysettings">Settings</a></li>
					<li><a href="#" class="mypoints">Billing</a></li>
				</ul>
			</div>

			<div class="large-9 columns profilesettings">
				<form name="editSettingsForm">
				<ul class="userinfo">
					<li>
						<label for="username">Username</label><input ng-required="true" type="text" ng-model="user.username" id="username" name="username" />
						<small class="error" ng-show="editSettingsForm.$dirty && editSettingsForm.username.$invalid">You must setup a username</small>
					</li>
					<li>
						<label for="email">Email</label><input ng-required="true" type="email" ng-model="user.email" id="email" name="email" />
						<small class="error" ng-show="editSettingsForm.$dirty && editSettingsForm.email.$invalid">You must setup a valid email</small>
					</li>
					<li>
						<label for="current_password">Current Password</label><input ng-required="true" type="password" ng-model="user.current_password" name="current_password" id="current_password" value="" autocomplete="off" />
						<small class="error" ng-show="editSettingsForm.$dirty && editSettingsForm.current_password.$invalid">Please enter your current password to make changes</small>
					</li>
					<li><span class="password">New Password</span><span><input type="password" ng-model="user.plainPassword.first" name="plainPassword[first]" /></span></li>
					<li><span class="password">Confirm Password</span><span><input type="password" ng-model="user.plainPassword.second" name="plainPassword[second]" /></span></li>
				</ul>
				<div row>
					<input type="submit" id="saveChanges" class="bbutton" value="Save Changes" ng-click="profile(user)" />
				</div>
				</form>
			</div>

		</div>
	</div>
</div>