<div class="row content-header">
	<h3><span class="raphael">S</span><span class="text">Dashboard</span></h3>
</div>

<div class="row userprofile" id="userprofile">
	<div class="large-12 columns" id="profile">
		<div class="row" ng-controller="UserDetailCtrl">
			<div class="large-3 columns sidenav">
				<!--<img ng-src="{{ user.web_path }}" style="height:150px;">-->
				<h3>Account</h3>
				<ul class="profilenav">
					<li><a href="{{ path('angular_profile') }}" class="myprofile">Profile</a></li>
					<li><a href="{{ path('angular_payout') }}" class="payout">Payout</a></li>
					<li><a href="{{ path('angular_settings') }}" class="mysettings">Settings</a></li>
				</ul>
			</div>

			<div class="large-9 columns profilesettings">
				<form class="css-form">

				<ul class="userinfo">
					<li><span class="username">Username</span><span><input ng-required="true" required type="text" ng-model="user.username" name="username" /></span></li>
					<li><span class="email">Email</span><span><input ng-required="true" required type="email" ng-model="user.email" name="email" /></span></li>
					<li><span class="password">Current Password</span><span><input ng-required="true" required type="password" ng-model="user.current_password" name="current_password" value="" autocomplete="off" /></span></li>
					<li><span class="password">New Password</span><span><input type="password" ng-model="user.plainPassword.first" name="plainPassword[first]" /></span></li>
					<li><span class="password">Confirm Password</span><span><input type="password" ng-model="user.plainPassword.second" name="plainPassword[second]" /></span></li>
				</ul>
				<div row>
					<input type="submit" id="saveChanges" class="bbutton" value="Save Changes" ng-click="profile(user)" />
				</div>
				</form>
			</div>

		</div>
	</div>
</div>